#myimg{
	height: 64px;
	width: 64px; 
	vertical-align: middle;
	margin-right: 10px;
  border-radius: 99%;

}

$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}


.createCSS section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.createCSS md-content {
  margin-right: 7px; }

.createCSS section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.createCSS .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.md-button.md-cancel{
  background-color: rgb(255, 141, 0);
  border-color: #eea236;
}

.md-button.md-green{
  background-color: rgb(110, 220, 114);
  border-color: #279234;
}

md-icon.md-green {
    color: rgb(68, 226, 30);
}

md-input-container .md-white-input {
  color: white;
  border-color: white;
}

.md-tools-title{
  font-size: 40px;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }


md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }

.user-avatar{
  border-radius: 30%;
  margin-right: 10px;
}

.res-avatar{
  border-radius: 30%;
  margin-right: 10px;
}

footer {
  background-color: #ccc;
  height:50px
}