<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h3>清华大学工会活动管理平台
        </h3>
      </div>
      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">简介</h3>
            此平台用于工会活动创建与发布，并推送到清华大学微信企业号。
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">功能</h3>
            基础设定为三级。一级创建活动，二级创建子活动，三级接受活动通知。可进行反馈，签到，上传照片与文件。
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">移动端</h3>
            本版本专为移动端设计，如有需要，可使用电脑登录。链接:
        </div>
      </div>

      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">问题</h3>
            <p>如果您遇到问题，<a href="https://github.com/mcasimir/mobile-angular-ui/issues" target='blank' id='#home-report'>点此</a>联系我们<br>
            </p>
              <pre>{{userAgent}}</pre>
            <p>
            十分感谢！
            </p>
        </div>
      </div>

    </div>

  </div>
</div>
