<div class="modal" ui-if='modal2' ui-state='modal2'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="modal2">&times;</button>
        <h4 class="modal-title">下载二维码</h4>
      </div>
      <div class="modal-body">
        <qrcode version="{{qrcode.v}}" error-correction-level="{{qrcode.e}}" size="{{qrcode.s}}" data="{{qrcode.foo}}" download></qrcode>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal2" class="btn btn-default">取消</button>
      </div>
    </div>
  </div>
</div>
