<div>
    <md-toolbar class="md-table-toolbar md-default">
       	<div class="md-toolbar-tools">
            <span>选择文件</span>
            <div flex></div>
        </div>
	</md-toolbar>

	<choose-file-button>
    	<md-button class="md-cancel">
        	<md-icon md-svg-src="img/icons-svg/file/svg/design/ic_file_upload_24px.svg"></md-icon>点此上传文件
    	</md-button>
    	<input type="file" nv-file-select="" uploader="uploader">
	</choose-file-button>

	<md-table-container>
		<table md-table>
            <thead md-head>
              <tr md-row>
                <th width="50%" md-column><span>文件名</span></th>
                <th ng-show="uploader.isHTML5" md-column><span>大小</span></th>
                <th ng-show="uploader.isHTML5" md-column><span>进度</span></th>
                <th md-column><span>状态</span></th>
                <th md-column><span>操作</span></th>
              </tr>
            </thead>
            <tbody md-body>
            	<tr md-row ng-repeat="item in uploader.queue">
                	<td md-cell><strong>{{ item.file.name }}</strong></td>
                	<td md-cell ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                	<td md-cell ng-show="uploader.isHTML5">
                    	 <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                	</td>
                	<td md-cell>
						<span ng-show="item.isSuccess">
							<md-icon md-svg-src="img/icons-svg/action/svg/design/ic_done_24px.svg"></md-icon>
						</span>
						<span ng-show="item.isCancel">
							<md-icon md-svg-src="img/icons-svg/navigation/svg/design/ic_cancel_24px.svg"></md-icon>
						</span>
						<span ng-show="item.isError">
							<md-icon md-svg-src="img/icons-svg/alert/svg/design/ic_error_24px.svg"></md-icon>
						</span>
					</td>
					<td md-cell nowrap>
						<md-button ng-click="item.upload()" class="md-raised md-primary" ng-disabled=" item.isUploading || item.isSuccess">
                        	<md-icon md-svg-src="img/icons-svg/file/svg/design/ic_file_upload_24px.svg"></md-icon>上传
                    	</md-button>
						<md-button ng-click="item.cancel()" class="md-raised md-cancel" ng-style="yellow" ng-disabled="!item.isUploading">
							<md-icon md-svg-src="img/icons-svg/navigation/svg/design/ic_cancel_24px.svg"></md-icon>取消
						</md-button>
					</td>
				</tr>
            </tbody>
        </table>
    </md-table-container>
</div>